/*External Fonts*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

header, nav {
  background-color: blue;
  width: 60%;
  margin: auto;
}

header h1#header {
  font-family: 'Indie Flower', cursive;
  font-size: 5em;
  width: 40%;
  text-align: center;
  float: left;
}

header img {
  width: 60%;
  max-height: 200px;
}
